YOLO_MODEL_PATH=/home/pi/fall_detection/models/yolo11n_blur_pose_best.pt
TCN_MODEL_PATH=/home/pi/fall_detection/models/best_tcn_videowise.pt

CAM_FPS=10
SHOW_PREVIEW=true

UART_ENABLED=true
UART_PORT=/dev/serial0
UART_BAUDRATE=115200

SEND_TELEGRAM=false
SEND_SNAPSHOT=false
TELEGRAM_RESET_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

PI_HOST=192.168.137.2
PI_USER=pi
PI_PROJECT_DIR=/home/pi/fall_detection

